# files to ignore
.env
.env.test
serviceAccountKey.json
cloud_sql_proxy
TODO


# unintended files
server.log
clean-gin
__debug_bin
gin-bin
debug.test

#editor based
.idea
.vscode
.DS_Store
*/.DS_Store
*.swp
