ServerPort=8000
Environment=local

DBUsername=root
DBPassword=secret
DBHost=database
DBPort=3306
DBName=boilerplate

AdminerPort=5001
DebugPort=5002

SiteEmail=

MailClientID=
MailClientSecret=
MailTokenType=
