ServerPort=8000
Environment=test
AppName="Boilerplate 📺"

DBUsername=root
DBPassword=secret
DBHost=database
DBPort=3306
DBName=boilerplate_test

AdminerPort=5001
DebugPort=5002

SiteEmail=

MailClientID=
MailClientSecret=
MailTokenType=
