ServerPort=8000
Environment=development
AppName="Boilerplate 📺"
BasePath="/clean_web"

DBUsername=root
DBPassword=secret
DBHost=database
DBPort=5432
DBName=boilerplate

AdminerPort=5001
DebugPort=5002

SiteEmail=

MailClientID=
MailClientSecret=
MailTokenType=

Secret=secretForEncoding
