ServerPort=8000
Environment=test
AppName="Boilerplate 📺"
BasePath="/clean_web"
SiteUrl="http://localhost:8000"


DBUsername=root
DBPassword=secret
DBHost=database
DBPort=5432
DBName=boilerplate_test

AdminerPort=5001
DebugPort=5002

SiteEmail=info@example.com

MailHost=smtp.mailtrap.io
MailHostUser=
MailHostPassword=
MailPort=2525


Secret=secretForEncoding
SentryDSN=a
RedisAddr=redis:6379
